<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Cartão Identificação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <!-- Foto -->
  <img src="assets/img.jpg" alt="Minha Foto" style="width: 150px; border-radius: 50%; margin: 20px auto;" />

  <!-- Nome e turma -->
  <h2>Lucas Rodrigues Pinto </h2>
  <p>Código Turma:[PAS23103] (2025-2-PAS23103-CG-ADS0301N)</p>

  <!-- Botão para ir para a tela Sobre -->
  <ion-button routerLink="/sobre" expand="block" color="medium">
    Sobre
  </ion-button>
</ion-content>
