<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <h2>Sobre mim</h2>
  <p>
    Meu nome é Lucas Rodrigues Pinto, tenho 19 anos e estou cursando Análise e Desenvolvimento de Sistemas. 
    Atualmente, trabalho na área de suporte e pretendo me tornar desenvolvedor na empresa.
  </p>

  <!-- Botão para voltar -->
  <ion-button routerLink="/home" expand="block" color="medium">
    Voltar
  </ion-button>
</ion-content>
